.main {
    
}

img {
    border-radius: 4px;
}
.content_products {
    display: flex;
    padding: 16px 4.6875vw;
    background-color: #ccc;
}
.left {
    display: inline-block;
}

.right {
    padding-left: 1.5vw;
}
.right h1 {
    font-size: 17px;
    margin-bottom: 16px;
}
.right a {
    color: #Ed145b;
}
.right i {
    font-size: 11px;
}
.right .price {
    text-align: left;
    font-size: 28px;
    padding: 16px 0;
}
.quantity {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.add-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 44px;
    font-size: 24px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}
.plus,
.minus {
    cursor: pointer;
}
.add-to-card button {
    height: 38px;
    width: 48%;
    margin-left: 6px;
    margin-top: 9px;
    background-color: #1f601f;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}